{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier/react",
    "prettier",
    "plugin:react/recommended"
  ],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true
  }
}
