.toolbox-number-group {
  display: flex;
  justify-content: space-between;
}

.toolbox-input {
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #e9e9e9;
  padding-left: 5px;
  padding-right: 5px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #18bc9c;
  }
}
