canvas {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.image-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 820px) {
    position: relative;
  }
}
