html, body {
  min-height: 100%;
}

body {
  background: #ecf0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  min-width: 700px;
  width: 40%;
  margin: 100px auto;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  height: 500px;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);

  animation: fadeIn;
  animation-duration: 1s;
}



@media (max-width: 820px) {
  body{
    background-color: white;
  }
  .wrapper{
    min-width: auto;
    width: 100%;
    box-shadow: none;
    margin: 0;
  }
}